# boot/ is staged by post-image.sh
image boot.vfat {
	vfat {
		label = "MOBIX"
		files = {
			"boot/bootcode.bin",
			"boot/start_cd.elf",
			"boot/fixup_cd.dat",
			"boot/config.txt",
			"boot/cmdline-a.txt",
			"boot/overlays-a",
			"boot/mobix-a.dtb",
			"boot/zImage-a",
			"boot/rootfs-a.cpio.lz4",
			"boot/wpa_supplicant.conf",
			"boot/mobix.conf",
		}
	}

	# Room for two slots (the second one is written by "mobix update")
	size = 256M
}

image sdcard.img {
	hdimage {
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
	}
}
